body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  min-height: 100vh;
}

#pageHeader h2 {
  text-align: center;
  width: 100%;
  padding-top: 40px;

  /* this trick makes the text rainbow */
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  background-size: 200% auto;
  animation: shift-rainbow 4s linear infinite;
  margin: 0;
}

@keyframes shift-rainbow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 55vh;
}

#calculatorBody {
  display: flex;
  align-items: center;
  background: rgb(131, 4, 194);

  position: relative;
  width: 366px;
  height: 461px;
  background: #7f00ffff;
  border: 6px solid #9d38e3ff;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  overflow: hidden;
  z-index: 0;
}
